MultiRAT Quality Control
================
Joanes Grandjean

![rat art](../assets/img/rat_art.png)

### Quality control

RABIES outputs several QA/QC images that are directly relevant to assess
image registration (func to anat, anat to template, template to
standard), and motion parameters.

Below are several examples of QA/QC registration plots that have failed
the test. I have re-ran preprocessing for datasets with at least 2
failed QA/QC scans, or datasets that entirely failed QA/QC, as
registrations steps are non-deterministic. Failed registrations happen
despite consequential time was devoted to optimize the procedure. These
are often due to poor image quality or strong image artifacts.
Importantly, the study preregistration did not make contingency in case
some scans must be excluded.

In [1]:
# init variables
init_folder='/home/traaffneu/joagra/code/MultiRat'
analysis_folder='/project/4180000.19/multiRat'
df_path='../assets/table/meta_data_20210622.tsv'

In [2]:
import pandas as pd

df = pd.read_csv(df_path, sep='\t')

In [3]:
#so I excluded 10% of the scans. 
df['exclude'].value_counts()

yes    59
Name: exclude, dtype: int64

In [4]:
#The major cause for exlusion are improper epi2anat corregistration 
df['exclude.reason'].value_counts()

epi2anat            37
template2std        10
anat2template        8
inconsistant FOV     3
empty files          1
Name: exclude.reason, dtype: int64

In [5]:
#half the excluded scans from from ~5 - 6 datasets
ds_exclude = df[['rat.ds', 'exclude.reason']].groupby(['rat.ds']).describe()
ds_exclude.dropna(subset=[('exclude.reason', 'top')]).sort_values(by=[('exclude.reason', 'count')],ascending=False)

       exclude.reason
                count unique               top freq
rat.ds
2004               10      1      template2std   10
1013                6      1          epi2anat    6
2006                5      1          epi2anat    5
2005                4      1          epi2anat    4
2008                3      3     anat2template    1
2007                3      1  inconsistant FOV    3
1039                3      1          epi2anat    3
1036                3      1          epi2anat    3
1017                2      1          epi2anat    2
1023                2      1          epi2anat    2
2003                2      1     anat2template    2
1003                1      1     anat2template    1
1038                1      1          epi2anat    1
1043                1      1     anat2template    1
1040                1      1          epi2anat    1
1035                1      1          epi2anat    1
1037                1      1          epi2anat    1
1005                1      1          epi2anat    1
1031                1      1          epi2anat    1
1029                1      1          epi2anat    1
1027                1      1          epi2anat    1
1026                1      1     anat2template    1
1021                1      1     anat2template    1
1019                1      1          epi2anat    1
1015                1      1     anat2template    1
1010                1      1          epi2anat    1
2009                1      1          epi2anat    1

Here is a summary of the excluded datasets, grouped by exclusion reasons
and datasets. Currently including only stimulus-evoked datasets.

Below are the detailed failed QA/QC tests

#### Failed template2std registration

![func2anat](../assets/QC/template2std/02004.png)

#### Failed anat2tempalte registration

![func2anat](../assets/QC/anat2tempalte/sub-0200307_ses-1_T2w_registration.png)

![func2anat](../assets/QC/anat2tempalte/sub-0200309_ses-1_T2w_registration.png)

#### Failed epi2anat registration

![func2anat](../assets/QC/epi2anat/sub-0200103_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/epi2anat/sub-0200106_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/epi2anat/sub-0200602_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/epi2anat/sub-0200604_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/epi2anat/sub-0200606_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/epi2anat/sub-0200608_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/epi2anat/sub-0200609_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/epi2anat/sub-0200806_ses-1_run-1_bold_registration.png)