MultiRAT Quality Control
================
Joanes Grandjean

![rat art](../assets/img/rat_art.png)

### Quality control

RABIES outputs several QA/QC images that are directly relevant to assess
image registration (func to anat, anat to template, template to
standard), and motion parameters.

Below are several examples of QA/QC registration plots that have failed
the test. I have re-ran preprocessing for scans with failed QA/QC. To help improve registration, I have manually applied autobox, and if this was not sufficient, changed N4 inhomogeneity correction to `no_reg`. This explains the very low failure rate in this study. 
Notably, the study preregistration did not make contingency in case
some scans must be excluded.

In [1]:
# init variables
init_folder='/home/traaffneu/joagra/code/MultiRat'
analysis_folder='/project/4180000.19/multiRat'
df_path='../assets/table/multiRat_rest_20220310.tsv'

In [2]:
import pandas as pd

df = pd.read_csv(df_path, sep='\t')

In [3]:
#so I excluded 10% of the scans. 
df['exclude'].value_counts()

yes    8
Name: exclude, dtype: int64

In [4]:
#The major cause for exlusion are improper epi2anat corregistration 
df['exclude.reason'].value_counts()

epi2anat         5
anat2template    1
motion           1
empty            1
Name: exclude.reason, dtype: int64

In [5]:
#half the excluded scans from from ~5 - 6 datasets
ds_exclude = df[['rat.ds', 'exclude.reason']].groupby(['rat.ds']).describe()
ds_exclude.dropna(subset=[('exclude.reason', 'top')]).sort_values(by=[('exclude.reason', 'count')],ascending=False)

       exclude.reason
                count unique            top freq
rat.ds
1046                2      2  anat2template    1
1015                1      1       epi2anat    1
1043                1      1       epi2anat    1
1052                1      1         motion    1
1059                1      1       epi2anat    1
1061                1      1          empty    1
1063                1      1       epi2anat    1

Here is a summary of the excluded datasets, grouped by exclusion reasons
and datasets. Currently including only stimulus-evoked datasets.

Below are the detailed failed QA/QC tests



#### Failed anat2tempalte registration

![func2anat](../assets/QC/sub-0104600_ses-1_T2w_inho_cor_registration.png)


#### Failed epi2anat registration

![func2anat](../assets/QC/sub-0101502_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/sub-0104304_ses-1_run-1_bold_registration.png)

![func2anat](../assets/QC/sub-0104601_ses-1_run-1_bold_registration.png)